* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background: -webkit-linear-gradient(90deg, rgb(0, 110, 217), rgb(30, 144, 255), rgb(0, 110, 217));
    background: -moz-linear-gradient(90deg, rgb(0, 110, 217), rgb(30, 144, 255), rgb(0, 110, 217));
    background: linear-gradient(90deg, rgb(0, 110, 217), rgb(30, 144, 255), rgb(0, 110, 217));
}

::selection {
    color: #fff;
    background-color: dodgerblue;
}

$widthBlock: 420px;
$border-radius: 8px;
$gap: 16px;
%flexColumnGap16 {
    display: flex;
    flex-direction: column;
    gap: $gap * 1.25;
}

.wrapper {
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 50px 35px rgba(34, 60, 80, 0.25);
    -moz-box-shadow: 0px 0px 50px 35px rgba(34, 60, 80, 0.25);
    box-shadow: 0px 0px 50px 35px rgba(34, 60, 80, 0.25);
    max-width: $widthBlock;
    padding: 20px;
    margin: auto 10px;
    border-radius: $border-radius;
    @extend %flexColumnGap16;
}

.header {
    display: flex;
    flex-direction: column;
    gap: $gap / 2;

    p {
        font-size: 18px;
        line-height: 24px;
        color: gray;
    }
}

.title {
    display: flex;

    h1 {
        font-size: 28px;
        font-weight: normal;
    }
}

.img-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        margin-left: 6px;
        opacity: 45%;
    }

    &:hover::before {
        position: absolute;
        top: 29px;
        left: -51px;
        width: 123px;
        content: "QR - Quick Response - Быстрый Отклик — это двухмерный штрихкод, распознаётся с помощью камеры на мобильном телефоне. При помощи QR-кода можно закодировать любую информацию, например: текст, номер телефона, ссылку на сайт или визитную карточку.";
        font-size: 12px;
        background: #ccc;
        padding: 8px;
        border-radius: $border-radius;
        z-index: 2;
    }
}

.main {
    @extend %flexColumnGap16;
}

.form {
    @extend %flexColumnGap16;
}

.form__input {
    padding: 12px;
    font-size: 20px;
    border-radius: $border-radius;
}

.advanced-features__wrapper {
    display: none;
    flex-direction: column;
    gap: $gap * 1.25;
}

.advanced-features__switch-wrapper {
    display: flex;
    align-items: center;
    gap: $gap / 2;
}

.advanced-features__label-switch {
    font-size: 18px;
}

.advanced-features__switch {
    width: 15px;
    height: 15px;
}

.advanced-features {
    display: none;
    flex-direction: column;
    padding: 3px;

    span {
        border: 1px solid #ccc;
    }

    span:first-child {
        margin-bottom: 30px;
    }

    span:last-child {
        margin-top: 20px;
    }

    :nth-last-child(2), :nth-last-child(3) {
        justify-content: center;
    }
}

.advanced-features__format-wrapper, .advanced-features__size-wrapper, .advanced-features__ecc-wrapper {
    label, input, select {
        max-width: 170px;
        width: 100%;
    }
}

.advanced-features__ecc-hint-wrapper {
    display: flex;
}

.advanced-features__ecc-hint {
    img {
        margin-left: 6px;
        opacity: 45%;
    }

    &:hover::before {
        content: "Чем больше ECC, тем больше данных можно восстановить, если QR-код поврежден. Более высокий ECC приводит к большему количеству сохраняемых данных. Cамый низкий ECC является лучшим выбором для общих целей — устаревшие считыватели QR-кодов являются более распространенной проблемой, чем разрушенные QR-коды. L (7%), M (15%), Q (25%), H (30%)";
        position: absolute;
        left: -3px;
        top: 23px;
        width: 165px;
        font-size: 12px;
        background: #ccc;
        padding: 8px;
        border-radius: $border-radius;
        z-index: 2;
    }
}

.advanced-features__format-wrapper, .advanced-features__size-wrapper, .advanced-features__ecc-wrapper, .advanced-features__color-wrapper, .advanced-features__bgcolor-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    margin-bottom: $gap / 2;
    position: relative;

    p {
        margin-bottom: $gap / 1.6;
    }

    input, select {
        margin-bottom: $gap;
        border-radius: $border-radius;
        padding: $gap / 4;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
    }
}

.advanced-features__color, .advanced-features__bgcolor {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.advanced-features__color-input, .advanced-features__bgcolor-input {
    width: calc(($widthBlock - (20px * 2)) / 4);
}

.button {
    padding: 24px;
    background-color: dodgerblue;
    color: #fff;
    border-radius: $border-radius;
    font-size: 20px;
    border: none;
    cursor: pointer;

    &:active {
        opacity: 0.85;
    }
}

.qr-code {
    justify-content: center;
    opacity: 0;
    border: 2px solid rgba($color: gray, $alpha: 0.75);
    border-radius: $border-radius;
    display: none;

    img {
        display: none;
        max-width: 100%;
    }
}

.wrapper .qr-code {
    opacity: 1;
    padding: 30px 0;
}

.buttons {
    flex-direction: column;
    gap: $gap * 1.25;
    display: none;
}

.share-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100dvw;
    background-color: rgba($color: #000, $alpha: 0.5);
    display: none;
}

.share {
    padding: 36px;
    border: none;
    border-radius: $border-radius;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;
    max-width: calc($widthBlock - (20px * 2));
    top: calc(50% - 123px);
    left: calc(50% - (($widthBlock - (20px * 2)) / 2));
    display: none;
}

.share__close {
    box-sizing: content-box;
    position: absolute;
    cursor: pointer;
    padding: 10px;
    top: 0px;
    right: 0px;
}

@media (max-width: 439px) {
    .form__input, .form {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .share {
        max-width: 300px;
        left: calc(50% - 150px);
        top: calc(50% - 177px);
    }
}

@media (max-width: 381px) {
    .wrapper .header .title .img-wrapper:hover::before {
        left: auto;
        right: -20px;
    }
}